<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>湖南卫视2</key>
	<string>http://liveproxy.fengyunzhibo.com:9222/mweb/cmv/hnws.m3u8</string>
	<key>湖南卫视1</key>
	<string>http://www.hlyy.cc/zxtv/m/hn1.html</string>
	<key>浙江卫视2</key>
	<string>http://tv.cztv.com/mlive/index.shtml</string>
	<key>浙江卫视1</key>
	<string>http://m.cztv.com/tv_view.php?id=1</string>
</dict>
</plist>
